 <head >
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">
	var base_url_ = "<?php echo BASE;?>";
</script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-red.min.css" /> 
  <link rel="stylesheet" href="/assets/mdl-ext/mdl-ext.min.css">
  <link rel="stylesheet" href="/assets/my_style.css">




<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<!--
<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/date_picker/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="/assets/mdl_dialogs/dialog-polyfill.css">
<link rel="stylesheet" href="/assets/timeline.css">
<link rel="stylesheet" href="/assets/mdl-select/getmdl-select.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

-->



<style type="text/css">




.my_search-box{
    background: #f1f1f1;
}
.my_search-box , .col-md-2{
	-webkit-transition: all 200ms;
  transition: all 200ms;
  height: 40px;

  border-radius: 4px;
  border: none;  


  padding-left: 15px;
}

.my_search-box:hover {
  
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}


.my_search-box:focus , .col-md-8 {



  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  border-radius: auto;
 
  
}
/*
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}*/

</style>

<style>
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
    </style>
 </head>


